img{
  height: 90%;
  padding-top: 15px

}
.game-cards {
    background: white;
    border-radius: 2px;
    height: 208px;
    margin: 1rem;
    position: relative;
    width: 249px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    overflow: hidden;
  }
  
  .game-cards > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
  }
  .game-cards > .img-container > img {
    width: 80%
  }
  
  /* .game-cards > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .game-cards > .content > ul {
    list-style-type: none;
  }
  
  .game-cards > .content > ul > li {
    margin-top: 18px;
  } */
  